html,body{
	margin:0px;
	height:100%;
	width:100%;
}
header{
	width:100%;	
	float:left;
	height:20%;
	text-align:center;
	position:relative;
}
#timer{
	position:absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
}
select{
	border: 0px;		
	font-size:3rem;
	-webkit-appearance: none;
    appearance: none;
	-moz-appearance: none;text-indent: 0.01px;text-overflow: '';
}
select::-ms-expand {
    display: none;
}
main{
	width:100%;
	float:left;
	height:60%;	
	text-align:center;	
}
footer{
	width:100%;
	float:left;
	height:20%;	
	text-align:center;	
	position:relative;
}
button{		
	font-size:3rem;
	position:absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);	
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}
button:hover{
	background:white;
}