body{
}
h1{ 
    text-align:center;
    font-weight:bold;
}
#timer{
    margin:30px auto 0;
    width:360px;
}
#timer .container{
    display:table;
    background:#000;
    color:#000;
    font-weight:bold;
    width:100%;
    text-align:center;
    text-shadow:1px 1px 4px #000;
}
#timer .container div{
    display:table-cell;
    font-size:47px;
    padding:10px;
    width:20px;
}
#timer .container .divider{
    width:5px;
    color:#ffffff;
}
#btn-comenzar{
    box-sizing:border-box;
    background:#000;
    border:none;
    margin:0 auto;
    padding:20px;
    width:100%;
    font-size:30px;
    color:#ffffff;
}
#btn-comenzar:hover{
    background:#1d1d1d;
}